@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.banner-link {

  background-color: white; 
  color: rgb(67, 94, 57);
  border: none;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.15s;
  cursor: pointer;

}

.banner-link:hover {text-decoration: underline;}

.banner-link:active {opacity: 0.8;}

.button {transition: 0.15s; cursor: pointer;}

.button:hover {opacity: 0.9}

.button:active {opacity: 0.8}

.shop-box {

  margin: 30px; 
  padding: 20px;
  background-color: white;
  border: 3px solid rgb(220, 220, 220);
  border-radius: 20px;

}

.shop-name {

  margin: 0px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  color: rgb(118, 138, 78);

}

.shop-info {

  font-family: Montserrat;
  font-size: 20px;

}

.brand-logo {

  object-fit: contain;
  width: 220px; 
  margin: 20px;

}
